*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
    width: 800px;
    margin: 0 auto;
    background-color:lightcoral;
}

header{
    text-align: center;
}

.title{
    color: #E53170;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

section #paragraph{
    text-align: center;
    margin-top: 50px;
}

main{
    color: white;
}
